<%= form_for(@automated_transaction) do |f| %>
  <% if @automated_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@automated_transaction.errors.count, "error") %> prohibited this automated_transaction from being saved:</h2>

      <ul>
      <% @automated_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <body class="subdued">
  </br>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div class="field">
          <strong>Aircraft Registration:</strong>
          <%= f.collection_select :account_id, current_airport.accounts, :id, :registration, include_blank: false %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div>
        <div class="field">
          Secondary Description<br>
          <%= f.text_field :long_description %>
        </div>
        <div class="field">
          Price<br>
          <%= f.text_field :subtotal %>
        </div>
        <div class="actions">
          <%= button_to('Create a new Automatic Recurring Transaction', class: 'btn btn-primary') %>
        </div>
        </div>
    </div>
  </div>

<% end %>

