<tr>
  <td>
    <%= f.collection_select :description, current_airport.inventories, :description, :description, include_blank: "Other" %>
</td>
  <td><%= f.input :long_description, label: false %></td>
  <td><%= f.input :price, label: false %></td>
  <td><%= f.input :units, label: false %></td>
  <td><%= f.check_box :tax, label: false %></td>

  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
</tr>

