<p id="notice"><%= notice %></p>

<h2 class="padding1">Listing Invoices</h2>

<table class="table">
  <thead>
    <tr class="align-right">
      <th>Registration</th>
      <th>Date</th>
      <th>Paid</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td>
          <% if invoice.registration.present? %>
          <%= invoice.registration %>
          <% else %> 
          Cash Purchase
          <% end %> </td>
        <td><%= invoice.created_at.time.to_formatted_s(:long)%> Zulu </td>
        <td><%= invoice.paid %></td>
        <td>$<%= invoice.total %></td>
        <td><%= link_to 'View Invoice', invoice %></td>
        <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure? The customer will not be billed for the invoice amount if the invoice is deleted!' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>

<%= button_to('New Invoice', new_invoice_path, method: :get, class: 'btn btn-primary')%>
</center>