<p id="notice"><%= notice %></p>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                            </td>
                            
                            <td>
                                Invoice #: <%= @invoice.id %><br>
                                Created: <%= @invoice.created_at.to_formatted_s(:long)  %> Zulu<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
<tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <%= current_airport.name %><br>
                                <%= current_airport.address1 %><br>
                                <%= current_airport.address2 %><br>
                                <%= current_airport.city %>, <%= current_airport.state %> <%= current_airport.zip %>
                            </td>
                            
                            <% if @invoice.account.present? %>
                            <td>
                            <strong>Aircraft Registration:</strong> <%= @invoice.account.registration %><br>
                            <%= @invoice.account.owner %><br>
                            <%= @invoice.account.address1 %><br>
                            <%= @invoice.account.address2 %><br>
                            <%= @invoice.account.city %>,<%= @invoice.account.state %> <%= @invoice.account.zip %><br>
                            <%= @invoice.account.email %>
                            </td>
                            <% else %>
                            <td>Cash Account Purchase</td>
                            <% end %>
                        </tr>
                    </table>
                </td>
            </tr>
            

<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th>Units</th>
      <th>Tax</th>
      <th>Item Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice.line_items.each do |line_item| %>
      <tr>
        <td>
          <% if line_item.inventory.present? %>
          <%= line_item.inventory.description %>
          <% else %>
          Other
          <% end %>
           </td>
        <td style="text-align: left;"><%= line_item.long_description %></td>
        <td><%= number_to_currency(line_item.price) %></td>
        <td><%= line_item.units %></td>
        <td><%= number_to_currency(line_item.tax_amount) %></td>
        <td><%= number_to_currency(line_item.total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="right">

<p>
  <strong>Tax:</strong>
  <%= number_to_currency(@invoice.line_items.sum(:tax_amount)) %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@invoice.total) %>
</p>
</div>
        </table>
    </div>


<br>
<center>
<%= button_to('Back', invoices_path, method: :get, class: 'btn btn-primary') %>
</center>