<!DOCTYPE html>
<html>
<head>
  <title>AeroPay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if airport_signed_in? %>
      <nav class="navbar navbar-inverse nav-justified">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href='/pages/index'><%= image_tag 'airportap.png', class:"navbar-brand navbar-image",class:"navbar-brand navbar-image", height: '100', width: '120'%></a>
            <ul class="nav navbar-nav">
                <li><%= button_to "New Charge", new_invoice_path, method: :get, class:"btn btn-success btn-sm navbar-btn" %> </li>
                <li><%= link_to "Monthly Leases", automated_transactions_path %> </li>                
                <li><%= link_to "Add an Account", new_account_path %></li>
                <li><%= link_to "My Inventory", inventories_path %></li>
            </ul>
          </div>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Edit My Profile", edit_airport_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_airport_session_path, :method => :delete %></li>
      <!--      <li><%= link_to "Connect To Quickbooks", quickbooks_authorizations_new_path %></li>
       -->  </ul>
          </div>
        </div>
      </nav>
<% end %>
<% if user_signed_in? %>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href='/pages/index'><%= image_tag 'airportap.png', class:"navbar-brand navbar-image", height: '100', width: '120'%></a>
      <ul class="nav navbar-nav">
               <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "My Accounts", pages_my_accounts_path %></li>
                  <li><%= link_to "Edit My Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                </ul>
          </div>
        </div>
      </nav>
<% end %>
<body>
<%= yield %>
</body>
</html>
