<!DOCTYPE html>
<html>
<head>
  <title>Airport System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
<ul class="nav navbar-nav">

      <%if airport_signed_in?%>
          <li><%= link_to "Sign Out", destroy_airport_session_path, :method => :delete %></li>
          <li><%= link_to "Manual Invoices", invoices_path %> </li>
          <li><%= link_to "Customer Accounts", accounts_path %></li>
          <li><%= link_to "Automated Transactions", automated_transactions_path %> </li>
      <% else %>
         <li><%= link_to "Sign In", new_airport_session_path %> </li>          
      <%end%>
    </ul>
    </div>
  </div>
</nav>
<body>

<%= yield %>

</body>
</html>
