<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>
 <body class="subdued">
  </br>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
		  <div class="form-inputs">
		  	<strong> Aircraft Registration:</strong>
		  	<%= f.text_field :registration %> <br>
		  	<strong> Owner: </strong>
		  	<%= f.text_field :owner %><br>
		  	<strong> Address Line 1: </strong>
		  	<%= f.text_field :address1 %><br>
			<strong> Address Line 2: </strong>
		  	<%= f.text_field :address2 %><br>
		  	<strong> City: </strong>
		  	<%= f.text_field :city %><br>
		  	<strong> State: </strong>
		  	<%= f.text_field :state %><br>
		  	<strong> Zip: </strong>
		  	<%= f.text_field :zip %><br>
		  	<strong> Owner's Email Address: </strong>
		  	<%= f.text_field :email %><br>
		  </div>
		  <div class="form-actions">
		    <%= f.button :submit %>
		  </div>
		  <br>
			<center><%= link_to 'Back', accounts_path %></center>

        </div>
    </div>
  </div>

<% end %>
