<div class="page-break" >
        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title center">
                                 Paid Invoices
                                </td>
                                
                                <td>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                    <tr class="information textalign-right">
                        <td colspan="2">
                            <table>
                                <tr>                                 
                                    <td>
                                    <strong>Aircraft Registration:</strong><%= @account.registration %><br>
                                    <%= @account.owner_first_name %> <%= @account.owner_last_name %><br>
                                    <%= @account.company %>
                                    <%= @account.address1 %><br>
                                    <%= @account.address2 %><br>
                                    <%= @account.city %>,<%= @account.state %> <%= @account.zip %><br>
                                    <%= @account.email %>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
    </div>            

        <table class="table">
          <thead>
            <tr>
              <th>Invoice Number</th>
              <th>Airport</th>
              <th>Invoice Date</th>
              <th>Invoice Total</th>
            </tr>
          </thead>

          <tbody>
            <% @account.invoices.paid.each do |invoice| %>
              <tr>
                <td><%= invoice.id%> </td>
                <td style="text-align: left;"><%= invoice.airport.name %> </td>
                <td style="text-align: left;"><%= invoice.created_at.time.to_formatted_s(:long)%> Zulu </td>
                <td><%= number_to_currency(invoice.total) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="right">

        </div>
                </table>
            </div>

    <br>