<p id="notice"><%= notice %></p>

<h2 class="padding1">Your Accounts</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Registration #</th>
      <th>Balance</th>
      <th>Last Payment Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.registration %></td>
        <td><%= number_to_currency(account.balance) %></td>
        <td><%= account.last_payment_date %></td>
        <td><%= link_to 'View Account Details', account %></td>
        <td><%= link_to 'Edit Account Information', edit_account_path(account) %></td>
<!--         <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 -->      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
<%= will_paginate @accounts %>
<%= button_to('Create a New Account', new_account_path, method: :get, class: 'btn btn-primary')%>
</center>
