<p id="notice"><%= notice %></p>
 <body class="subdued">
  </br>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
      	    <h4>Account Listing</h4>
		  <div class="form-inputs">
			<strong>Registration</strong>
			<%= @account.registration %><br>
			<strong>Owner</strong>
			<%= @account.owner_first_name %> <%= @account.owner_last_name %><br>
			<strong>Address:</strong>
			<%= @account.address1 %><br>
			<%= @account.address2 %><br>
			<strong>City</strong>
			<%= @account.city %><br>
			<strong>State</strong>
			<%= @account.state%><br>
			<strong>Zip</strong>
			<%= @account.zip %><br>
			<strong>Email Address:</strong>
			<%= @account.email %><br>
			<strong>Outstanding Balance:</strong>
			<%= @account.balance %> 
			<br>
			<br>
			<center>
			<%= link_to 'Edit', edit_account_path(@account) %> |
			<%= link_to 'Back', accounts_path %>
			</center>
	      </div>
	    </div>
	  </div>
<br>
<center>
<div class="btn-group" role="group" aria-label="Basic example">
<%= button_to("Paid Invoices", account_path(@account), paid: true, method: :get, class: 'btn btn-primary')%> <%= button_to("Unpaid Invoices", account_path(@account), unpaid: true, method: :get, class: 'btn btn-primary')%>
	</div>
</center>
</div>
<% if @show_paid %>
    <%= render 'paid' %>
<% end %>
<% if @show_unpaid %> 
    <%= render 'unpaid' %>
<% end %> 
<%= link_to 'Back', invoices_path %>